In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans 
import pandas as pd 
import numpy as np
import matplotlib as plt

In [9]:
sampled_df=pd.read_csv("C:\\Users\\ROG STRIX\\Desktop\\DataSets\\minute_weather.csv")

In [10]:
sampled_df.shape

(1587257, 13)

In [11]:
sampled_df.head()

,rowID,hpwren_timestamp,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,min_wind_direction,min_wind_speed,rain_accumulation,rain_duration,relative_humidity
0,0,2011-09-10 00:00:49,912.3,64.76,97.0,1.2,106.0,1.6,85.0,1.0,NaN,NaN,60.5
1,1,2011-09-10 00:01:49,912.3,63.86,161.0,0.8,215.0,1.5,43.0,0.2,0.0,0.0,39.9
2,2,2011-09-10 00:02:49,912.3,64.22,77.0,0.7,143.0,1.2,324.0,0.3,0.0,0.0,43.0
3,3,2011-09-10 00:03:49,912.3,64.40,89.0,1.2,112.0,1.6,12.0,0.7,0.0,0.0,49.5
4,4,2011-09-10 00:04:49,912.3,64.40,185.0,0.4,260.0,1.0,100.0,0.1,0.0,0.0,58.8

In [12]:
sampled_df[sampled_df['rain_duration']==0].shape

(1572129, 13)

In [13]:
sampled_df[sampled_df['rain_accumulation']==0].shape

(1577880, 13)

In [14]:
del sampled_df['rain_accumulation']

In [15]:
del sampled_df['rain_duration']

In [16]:
rows_before=sampled_df.shape[0]
sampled_df=sampled_df.dropna()
rows_after=sampled_df.shape[0]

In [17]:
rows_before-rows_after

433

In [18]:
sampled_df.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [19]:
features=['air_pressure','air_temp','avg_wind_direction','avg_wind_speed','max_wind_direction','max_wind_speed','relative_humidity']

In [20]:
select_df=sampled_df[features]

In [21]:
select_df.columns

Index(['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

In [22]:
select_df

,air_pressure,air_temp,avg_wind_direction,avg_wind_speed,max_wind_direction,max_wind_speed,relative_humidity
0,912.3,64.76,97.0,1.2,106.0,1.6,60.5
1,912.3,63.86,161.0,0.8,215.0,1.5,39.9
2,912.3,64.22,77.0,0.7,143.0,1.2,43.0
3,912.3,64.40,89.0,1.2,112.0,1.6,49.5
4,912.3,64.40,185.0,0.4,260.0,1.0,58.8
...,...,...,...,...,...,...,...
1587252,915.9,74.66,1.0,1.8,11.0,2.1,46.3
1587253,915.9,74.66,9.0,1.6,19.0,1.8,46.2
1587254,915.9,74.66,15.0,1.7,42.0,2.3,46.3
1587255,915.9,74.66,8.0,1.8,24.0,2.2,46.2
1587256,915.9,74.66,12.0,1.9,21.0,2.2,46.3

In [23]:
X=StandardScaler().fit_transform(select_df)
X

array([[-1.4845918 ,  0.24548315, -0.68235146, ..., -0.62146568,
        -0.74275262,  0.49233814],
       [-1.4845918 ,  0.16942281, -0.01013968, ...,  0.55860684,
        -0.78402094, -0.29367075],
       [-1.4845918 ,  0.19984694, -0.89241765, ..., -0.22089061,
        -0.90782587, -0.17538786],
       ...,
       [-0.30484762,  1.08214687, -1.54362281, ..., -1.31435229,
        -0.45387443, -0.04947381],
       [-0.30484762,  1.08214687, -1.61714598, ..., -1.50922665,
        -0.49514275, -0.05328939],
       [-0.30484762,  1.08214687, -1.57513274, ..., -1.54170571,
        -0.49514275, -0.04947381]])

In [24]:
#KMeans(n_cluster=12)
kmeans=KMeans()
model=kmeans.fit(X)

In [25]:
centers=model.cluster_centers_
centers

array([[ 0.32949866,  0.60563573, -1.25045237, -0.49797897, -1.1027769 ,
        -0.50353899, -0.80632743],
       [ 0.05721596, -0.67000714, -1.16089407, -0.57364594, -1.00484476,
        -0.58833675,  0.74134276],
       [-0.27660204,  0.57392605,  0.38360808,  0.56096178,  0.49003893,
         0.50676388, -0.15939624],
       [-1.1215078 , -0.96747102,  0.42540376,  1.67671369,  0.52129718,
         1.64345711,  1.02995466],
       [-0.21954275, -1.02360006,  0.52299741, -0.28977277,  0.67471868,
        -0.28539851,  1.21782479],
       [ 0.11079841,  0.68052956,  0.67920212, -0.6588724 ,  0.89271405,
        -0.64737783, -0.5938322 ],
       [ 1.3009988 , -0.2371496 , -1.15108971,  1.73597692, -1.04582807,
         1.84273346, -1.12111719],
       [ 0.24541263,  0.30928992,  1.88785858, -0.65052745, -1.5486499 ,
        -0.57337181, -0.29153486]])